

<% for( let k of products ){%>
    <div class="col m3 s6 xs12 l3 shop-product-wrapper">
        <div class="block-shop-product font-heading">
            <div class="__image overlay-container">
                <img src="./data/products/<%= k.product_path %>" alt="Shop Product"/>
                <div class="overlay text-center">
                    <div class="__layer bgc-dark-o-3"></div>
                </div>
            </div>
            <div class="__info text-center">
                <a href="#" data-id="<%= k.prod_id%>"><%= k.product_name %></a>
                <ul>
                    <li class="clearfix">
                        <a href="#shop-quickview" class="quick-view" onclick="modalView(<%= k.prod_id%>)" rel="modal:open">
                            <i class="small material-icons">search</i></a>
                        <a href="#" class="wish-list"><i class="small material-icons">favorite</i></a>
                        <a href="shopping-cart.html" class="wish-list"><i class="small material-icons">shopping_cart</i></a>
                    </li>

                </ul>
                <div class="__price"><span><%= k.price%></span>
                </div>
                <div data-rating="4" class="star-ratings">
                    <span>&#9733;</span>
                    <span>&#9733;</span>
                    <span>&#9733;</span>
                    <span>&#9733;</span>
                    <span>&#9733;</span>
                </div>
            </div>
        </div>
    </div>
<%}%>