

<% for( let k of products ){%>
    <div class="col m3 s6 xs12 l3 shop-product-wrapper">
        <div class="block-shop-product font-heading">
            <div class="__image overlay-container">
                <img src="./data/products/<%= k.product_path %>" height="230px" alt="Shop Product"/>
                <div class="overlay text-center">
                    <div class="__layer bgc-dark-o-3"></div>
                </div>
            </div>
            <div class="__info text-center">
                <a href="#" data-id="<%= k.prod_id%>"><%= k.product_name %></a>
                <ul>
                    <li class="clearfix">
                        <a href="#shop-quickview" class="quick-view" onclick="modalView(<%= k.prod_id%>)" rel="modal:open">
                            <i class="small material-icons">search</i></a>
                        <!--<a href="#" class="wish-list"><i class="small material-icons">favorite</i></a>-->
                        <a class="wish-list" onclick="addToCart(<%= k.prod_id %>)"><i class="small material-icons">shopping_cart</i></a>
                    </li>

                </ul>
                <%if(k.discount){%>
                <div class="__price" style="text-decoration: line-through;">$<span><%= k.price%></span></div>
                <div class="__price">$<span><%= k.price * (100-k.discount)/100%></span></div>
                <%}else{%>
                <div class="__price" >$<span><%= k.price%></span></div>
                <%}%>


                <!--<div>Likes- -->
                <!--</div>-->
            </div>
        </div>
    </div>
<%}%>